.projectContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  
  .projectDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .projectname{
    font-size: 2rem;
    margin-bottom: 3rem;
 
  }
  .project{
    font-size: 3rem;
  }
  .projectItem {
    width: calc(50% - 20px);
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color:rgb(50,50,50)
  }
  
  .title {
    margin-bottom: 10px;
  }
  
  .description {
    text-align: center;
    font-size: medium;
    font-weight: 300;
  }
  
  @media (max-width: 768px) {
    .projectItem {
      width: 100%;
    }
  }
  