.foot{
    width: 100vw;
    height: 4rem;
    background: rgb(40,40,40);
    font-weight: 300;
    font-size: small;
padding: 10px;

}
.footer{

    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin: 20px;
font-size: 1rem;
}
@media  (max-width:480px) {
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}